@import '../../styles/variables';
@import '../../styles/mixins';

.auth-container {
    padding: 3% 8%;
    @include respond(1020px) {
        padding: 3% 1rem !important;
    }

    .auth-heading {
        margin-bottom: 1rem;
        font-weight: 600;
        color: $color-grey-7;
        text-transform: capitalize;
        text-align: center;

        @include respond(500px) {
            font-size: 1.35rem !important;
        }
    }

    .auth-body {
        align-items: center;
        @include respond($auth-breakpoint) {
            flex-direction: column;
            align-items: stretch !important;
        }
    }

    .form,
    .auth-providers {
        flex: 1;
        max-width: 35rem;
        flex-basis: 1;
        padding: 0 6%;

        @include respond(1020px) {
            padding: 0 2.5%;
        }
    }

    .form-btn {
        align-items: stretch;
        width: 100%;
        margin-top: 5px;

        &:hover {
            background-color: $color-grey-8;
            box-shadow: $shadow-light;
        }
    }

    .nav-message {
        margin-top: 0.7rem;
        text-align: center;

        a {
            margin-left: 3px;
            color: $color-sky-7;
        }

        a:hover {
            color: $color-blue-7;
            text-decoration: underline;
            text-decoration-thickness: 1.7px;
            text-underline-offset: 5px;
        }
    }
}
