@import '../../styles/variables';

.header-container {
    max-width: 100% !important;
    padding: 0 2.5rem !important;

    a:hover {
        color: $color-blue-5;
    }

    .nav-link {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
            color: $color-blue-4 !important;
        }
    }
}

.auth-nav {
    display: flex;
}
