@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin respond($break-point) {
    @media only screen and (max-width: $break-point) {
        @content;
    }
}
